@import '../../theme/_shared/variables/index';


.dashboard-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .workspace-container {
    background-color: $grey-light;
    flex: 1;

    .sidenav-container {
      background-color: $brand-primary;
      color: $white;
    }
  }

  .menu {
    a, a:visited, a:focus {
      text-decoration: none;
      color: $white;
      outline: none;
    }

    .active-link {
      color: $brand-secondary !important;
    }
  }
}
